<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.symptomchecker">

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SymptomChecker">
        <activity
            android:name=".MainQuiz"
            android:exported="false" />
        <activity
            android:name=".IllnessEditorActivity"
            android:exported="false"
            android:label="Edit Illness "
            android:parentActivityName=".IllnessActivity" />
        <activity
            android:name=".IllnessActivity"
            android:exported="false"
            android:label="Illness "
            android:parentActivityName=".MainAdmin" />
        <activity
            android:name=".SymptomActivity"
            android:exported="false"
            android:label="Symptom "
            android:parentActivityName=".MainAdmin" />
        <activity
            android:name=".SymptomEditorActivity"
            android:exported="false"
            android:label="Symptom Editor"
            android:parentActivityName=".SymptomActivity" />
        <activity
            android:name=".PharmacyEditorActivity"
            android:exported="false"
            android:label="Pharmacy Editor"
            android:parentActivityName=".PharmacyActivity" />
        <activity
            android:name=".PharmacyActivity"
            android:exported="false"
            android:label="Pharmacy "
            android:parentActivityName=".MainAdmin" />
        <activity
            android:name=".HospitalEditorActivity"
            android:exported="false"
            android:label="Hospital Editor"
            android:parentActivityName=".HospitalActivity" />
        <activity
            android:name=".HospitalActivity"
            android:exported="false"
            android:label="Hospital"
            android:parentActivityName=".MainAdmin" />
        <activity
            android:name=".DoctorEditorActivity"
            android:exported="false"
            android:label="Doctor Editor"
            android:parentActivityName=".DoctorActivity" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false"
            android:label="Doctor "
            android:parentActivityName=".MainAdmin" />
        <activity
            android:name=".MainAdmin"
            android:exported="false"
            android:label="Main Admin"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Pharmacy Editor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.DoctorProvider"
            android:authorities="com.example.android.symptomchecker.data.DoctorProvider"
            android:exported="false" />
        <provider
            android:name=".data.HospitalProvider"
            android:authorities="com.example.android.symptomchecker.data.HospitalProvider"
            android:exported="false" />
        <provider
            android:name=".data.PharmacyProvider"
            android:authorities="com.example.android.symptomchecker.data.PharmacyProvider"
            android:exported="false" />
        <provider
            android:name=".data.SymptomProvider"
            android:authorities="com.example.android.symptomchecker.data.SymptomProvider"
            android:exported="false" />
        <provider
            android:name=".data.IllnessProvider"
            android:authorities="com.example.android.symptomchecker.data.IllnessProvider"
            android:exported="false" />
    </application>

</manifest>